<div id="content" class="my-5">

  <div id="products">
     <div class="row mx-0">
        <div class="col-lg-4 col-md-6">

           {% for product in products %}
              <div class="card d-flex flex-column align-items-center">
                 <div class="product-name">{{ product.name }}</div>
                 <div class="card-img"> <img src="{{ MEDIA_URL }}{{ product.image }}" alt=""> </div>
                 <div class="card-body pt-5">
                    <div class="d-flex align-items-center price">
                       <div class="font-weight-bold">R{{ product.price }}</div>
                    </div>
                 </div>
              </div>
           {% endfor %}

        </div>
     </div>
  </div>
</div>