    {% load cms_tags site_content %}

    {% include 'layouts/navigation/home_navigation.html' %}
    {% include 'layouts/hero/hero.html' %}
    {% include 'layouts/messages.html' %}
    {% include 'layouts/main/home/services.html' %}
    {% include 'layouts/main/home/about.html' %}
    {% comment %}    {% include 'layouts/main/portfolio.html' %}-->
    {% include 'layouts/main/products.html' %}
    {% include 'layouts/main/blog.html' %}
    {% include 'layouts/main/subscribe.html' %}{% endcomment %}
    {% include 'layouts/main/home/gallery.html' %}
    {% include 'layouts/main/home/contact.html' %}
    {% include 'layouts/footer/footer.html' %}