{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
    {% comment %}
    This is needed if you can't add ``{% include "meta/meta.html" %}`` in the django CMS template attached to the blog
    page or if you use djangocms-page-meta.

    Please check the documentation at https://djangocms-blog.readthedocs.io/en/latest/features/meta.html for more
    details about the correct template configuration for social media tags rendering.
    {% endcomment %}
    {% if meta %}
        {% include "meta/meta.html" %}
    {% else %}
        {{ block.super }}
    {% endif %}
    {% endblock meta %}

    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>{% block title %}{% page_attribute page_title %} {% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ MEDIA_URL }}img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ps_style.css">

</head>

<body>


    {% include 'layouts/navigation/blog.html' %}
    {% include 'layouts/messages.html' %}
    {% include 'layouts/main/blog/breadcrumbs.html' %}

    {% block content %}
    {% endblock content %}

    {% comment %}{% include 'layouts/main/blog/main.html' %}{% endcomment %}
    {% include 'layouts/footer/footer.html' %}

    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change the text and save to update the content</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <!-- jQuery-2.2.4 js -->
    <script src="{{ MEDIA_URL }}js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{{ MEDIA_URL }}js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="{{ MEDIA_URL }}js/plugins.js"></script>
    <!-- Active js -->
    <script src="{{ MEDIA_URL }}js/active.js"></script>
</body>

</html>