{% extends "ps_user_base.html" %}
{% load cms_tags %}

{% block title %}User Profile{% endblock title %}

{% block content %}

    {% include 'layouts/navigation/profile_navigation.html' %}
    {% include 'layouts/main/profile/breadcrumbs.html' %}
    {% include 'layouts/messages.html' %}
    <div class="container rounded bg-white">
        <div class="row">


            <div class="col-md-12 border-right border-left">
                <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if request.user.profile.avatar %}
                            <img class="avatar rounded-circle mt-5" width="250px" src="{{ MEDIA_URL }}{{ request.user.profile.avatar }}">
                            <a href="#" onclick="$('#profile_form').show();$('.avatar').hide();">change</a>
                        {% endif %}

                        <form id="profile_form" {% if request.user.profile.avatar %} style="display:none;" {% else %} {% endif%} action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ profile_form.avatar }}<br />
                            {{ profile_form.bio }}
                            {% if profile_form.errors %}
                            <br />
                               {% for field in profile_form %}
                                   {% for error in field.errors %}
                                      <div class="alert alert-danger">
                                           <strong>{{ error|escape }}</strong>
                                      </div>
                                   {% endfor %}
                               {% endfor %}
                            {% endif %}
                            <br />
                            <input type="submit" value="Update Bio" class="btn btn-primary profile-button">
                            <br />
                        </form>


                        <span class="font-weight-bold">{% if request.user.first_name and request.user.last_name %}{{ request.user.first_name }} {{ request.user.last_name }}{% endif %}</span><span class="text-black-50">{% if request.user.email %}{{ request.user.email }}{% endif %}</span>
                        <span> {{ request.user.profile.bio }} </span>
                    </div>
                    <form action="" method="POST">{% csrf_token %}
                    <div class="row mt-2">

                        <div class="col-md-6"><label class="labels">Name</label><input name="first_name" id="id_first_name" type="text" class="form-control" placeholder="first name" value="{{ request.user.first_name }}"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input name="last_name" id="id_last_name" type="text" class="form-control" value="{{ request.user.last_name }}" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email</label><input name="email" id="id_email" type="text" class="form-control" placeholder="enter email address" value="{% if request.user.email %}{{ request.user.email }}{% endif %}"></div>
                    </div>
                        {% if profile_form.errors %}
                        <br />
                           {% for field in profile_form %}
                               {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                       <strong>{{ error|escape }}</strong>
                                  </div>
                               {% endfor %}
                           {% endfor %}
                        {% endif %}
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" onclick="this.form.submit();" type="button">Save Profile</button></div>
                    </form>
                   <form action="" method="POST">{% csrf_token %}
                    <div class="col-md-6"><label class="labels">Mobile Number</label>{{ phonenumber_form.phone_number }}</div>
                        {% if phonenumber_form.errors %}
                       <br />
                           {% for field in phonenumber_form %}
                               {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                       <strong>{{ error|escape }}</strong>
                                  </div>
                               {% endfor %}
                           {% endfor %}
                        {% endif %}
                       <div class="mt-5 text-center"><button onclick="this.form.submit();" class="btn btn-primary profile-button" type="button">Update Phone Number</button></div>
                        </form>
                    <div class="row mt-3">
                        {% for address in addresses %}

                            <div class="col-md-12"> {% ifequal address.address_type 'B' %}Billing{% else %}Shipping{% endifequal %}</div>
                            <div class="col-md-12"> {% if address.default %}Default Address{% endif%}</div>
                            <div class="col-md-12"> {{ address.country.name }} - <img src="{{ address.country.flag }}" /></div>
                            <div class="col-md-12"> {{ address.city }}</div>
                            <div class="col-md-12"> {{ address.street_address }}</div>
                            <div class="col-md-12"> {{ address.apartment_address }}</div>
                            <div class="col-md-12"> {{ address.city }}</div>
                            <div class="col-md-12"> {{ address.postal_code }}</div>
                            <div class="col-md-12"> {{ address.province }}</div>
                            <div class="col-md-12"> <br /></div>
                        {% endfor %}
                        <form action="" method="post">{% csrf_token %}
                            <div class="col-md-12"><label class="labels">Address Type</label>{{ address_form.address_type }}</div>
                            <div class="col-md-12">
                                    <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                    {{ address_form.default }}
                                    <label class="custom-control-label" for="id_address_form-default">Default</label>
                                </div>

                            </div>
                            <div class="col-md-12"><label class="labels">Country</label>{{ address_form.country }}</div>
                            <div class="col-md-12"><label class="labels">Address Line 1</label>{{ address_form.street_address }}</div>
                            <div class="col-md-12"><label class="labels">Address Line 2</label>{{ address_form.apartment_address }}</div>
                            <div class="col-md-12"><label class="labels">Postcode</label>{{ address_form.postal_code }}</div>
                            <div class="col-md-12"><label class="labels">City</label>{{ address_form.city }}</div>
                            <div class="col-md-12"><label class="labels">Province</label>{{ address_form.province }}</div>
                            <br />
                            <div class="col-md-12 center-content"><input type="submit" value="Add Address" class="btn btn-primary profile-button"></div>
                        </form>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% include 'layouts/footer/footer.html' %}
{% endblock %}
