{% load site_content %}

<div class="portfolio-slides owl-carousel mb-100">
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_1' 'image' '<img src="/media/img/background/9.jpg" alt="">' %}
    </div>
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_2' 'image' '<img src="/media/img/background/10.jpg" alt="">' %}
    </div>
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_3' 'image' '<img src="/media/img/background/11.jpg" alt="">' %}
    </div>
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_4' 'image' '<img src="/media/img/background/12.jpg" alt="">' %}
    </div>
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_5' 'image' '<img src="/media/img/background/13.jpg" alt="">' %}
    </div>
    <div class="single-portfolio-slide">
        {% get_edit_content request 'about_us_slideshow_image_6' 'image' '<img src="/media/img/background/14.jpg" alt="">' %}
    </div>
</div>
