{% load site_content %}
<section class="gallery bg-gray section-padding-100-0" style="padding-bottom: 2px;">
    <div class="portfolio-slides owl-carousel mb-100">
        <!-- Single Portfolio Slide -->
        <div class="single-portfolio-slide">
            {% get_edit_content request 'home_page_slideshow_image_1' 'image' '<img src="/media/img/background/3.jpg" alt="">' %}
        </div>
        <!-- Single Portfolio Slide -->
        <div class="single-portfolio-slide">
            {% get_edit_content request 'home_page_slideshow_image_2' 'image' '<img src="/media/img/background/4.jpg" alt="">' %}
        </div>
        <!-- Single Portfolio Slide -->
        <div class="single-portfolio-slide">
          {% get_edit_content request 'home_page_slideshow_image_3' 'image' '<img src="/media/img/background/5.jpg" alt="">' %}
        </div>
        <div class="single-portfolio-slide">
          {% get_edit_content request 'home_page_slideshow_image_4' 'image' '<img src="/media/img/background/6.jpg" alt="">' %}
        </div>
        <div class="single-portfolio-slide">
          {% get_edit_content request 'home_page_slideshow_image_5' 'image' '<img src="/media/img/background/7.jpg" alt="">' %}
        </div>
        <div class="single-portfolio-slide">
          {% get_edit_content request 'home_page_slideshow_image_6' 'image' '<img src="/media/img/background/8.jpg" alt="">' %}
        </div>
    </div>
</section>